*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif !important;
    border-bottom: 1px solid #64ffda;
    padding: 0 30px;
}

.logo-header {
    display: flex;
    align-items: center;
}

.nameHeader {
    color: #e6f1ff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px; /* Adjust this to control the space between the logo and text */
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.logo{
    display: flex;
    float: left;
}
.N1{
    width: 30px;
    height: 106px;
    background: #3f9f89;
}
.N2{
    width: 30px;
    height: 106px;
    transform: skew(30deg);
    background: #64ffda;
  }
.N3{
    width: 30px;
    height: 106px;
    background: #4ec2a7;
  }
.nav-links{
    display: flex;
    justify-content:space-around;
    width: 40%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    position: relative;
    color: #e6f1ff;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    
}
.nav-links ::after{
    content: "";
    position: absolute;
    background-color: #64ffda;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: .3s;
}
.nav-links :hover ::after{
    width: 100%;
}

.nav-links li :hover{
    color: #64ffda;
}

body{
    background-color: #0a192f;
    height: 100%;
    margin: 0;
}

.content{
    margin: 0 auto;
    background-color: #0d1f3a; 
    width: 80vw;
    min-height: 100vh;
    padding: 200px;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #64ffda;
}

#footerWrapper {
    border-top: 1px solid #64ffda;
    background-color: #0a192f;
}
#footerText {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: #e6f1ff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
#footerText2 {
    display: flex;
    justify-content: center;
    opacity: .7;
    color: #e6f1ff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
}
#linkWrapper {
    display: flex; 
    justify-content: center; 
    opacity: .9;
    padding-top: 10px;
    height: 35px;
    gap: 20px;
}
#linkWrapper :hover{
    opacity:.7;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}
#linkWrapper a img{
    max-width:100%;
    max-height:100%;
}
.miniLogo{
    display: flex;
    justify-content: center;
    padding: 10px;
    opacity: .7;
}
.miniN1{
    width: 10px;
    height: 35.3px;
    background: #3f9f89;
    
}
.miniN2{
    width: 10px;
    height: 35.3px;
    transform: skew(30deg);
    background: #64ffda;
}
.miniN3{
    width: 10px;
    height: 35.3px;
    background: #4ec2a7;
}

@media screen and (max-width:1050px){
    .content{
        width:100%;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 15px;
    }
    .nameHeader {
        margin-left: 20px;
    }
}

@media screen and (max-width:768px) {
    html,body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }
    .nameHeader {
        margin-left: 20px;
    }
    .nav-links {
        padding-bottom: 100px;
        z-index: 1;
        position: absolute; /* Change position to fixed */
        top: 1vh; /* Adjusted to start below the navigation bar */
        right: 0;
        height: 100%; /* Adjusted height */
        background-color: #0a192f;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav-links li {
        
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}